/Ch10/Ch10Ex5/nbproject/private/
/Ch10/Ch10Ex5/build/
/Varstiy-Java/PrimeNumbers/nbproject/private/
/Varstiy-Java/PrimeNumbers/build/
/Varstiy-Java/Oracle/nbproject/private/
/Varstiy-Java/Oracle/build/